<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') %>
</head>
<style>
body {
        
        background-image: url("https://i.imgur.com/2QRVYx9.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 1800px 850px;
        display:flexbox;
    }
/* .card-image{
    width:300px;
    height: 300px;
} */
.truck-name{
     background-color:rgb(120, 163, 143); 
    font-size: 20px;
}
/* .row {
    display:inline;

} */

@media only screen and (min-width: 800px) {
    .card {
        margin-left: 15rem;
    }
}


</style>

<body>
    <% Truck.forEach(Truck => { %>
    <div class="row">
        <div class="col l4 m4 s12">
          <div class="card center col l12 s12 m12">
            <div class="card-image">
              <img src=<%= Truck.img %>>
              <span class="card-title gray-text"></span>
            </div>
            <div class="card-content center">
                <p class="truck-name"><%=Truck.name %></p>
              <p><%= Truck.info %></p>
            </div>
            <div class="card-action">
              <a href="/<%=Truck.id%>">Link to the Truck Page</a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
      

</body>
<footer>
    <%-include('./partials/footer.ejs') %>
</footer>
</html>