<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') %>
</head>
<style>
/* .card-image{
    width:300px;
    height: 300px;
} */
.truck-name{
    /* color:blue; */
    font-size: 20px;
}


</style>

<body>
    <% Truck.forEach(Truck => { %>
    <div class="row">
        <div class="col s12 m7">
          <div class="card center col s12 m7">
            <div class="card-image center">
              <img src=<%= Truck.img %>>
              <span class="card-title green-text center valign-wrapper"><h2 class="truck-name center"><%=Truck.name %></h2></span>
            </div>
            <div class="card-content center">
              <p><%= Truck.info %></p>
            </div>
            <div class="card-action">
              <a href="/<%=Truck.id%>">Link to the Truck Page</a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>

</body>
<footer>
    <%-include('./partials/footer.ejs') %>
</footer>
</html>