<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') %>
</head>
  <style>
    .img{
        width:400px;
        height: 300px;
    }
    </style>

    
<body>
    
    <div class="showContainer">
        <h1> <%= Truck.name %></h1>
        <h2>
            <img class ="img" src=<%= Truck.img %>

        </h2>
        <h2><img class ="img" src=<%= Truck.img1 %></h2>
        <h2><img class ="img" src=<%= Truck.img2 %></h2>
        <h2><img class ="img" src=<%= Truck.img3 %></h2>
       <h2>
        Average Food Cost: <%= Truck.avgprice%>
       </h2>
   
        <h2 class="linkRoute">
           <a href=<%= Truck.link%> Link to site </a>
        </h2>
        <h2 class="links"><button><a href="/truck/<%=Truck.id%>/edit">EDIT</a></button></h2>
        <h2 class="links">
            <form action="/truck/<%= Truck.id %>?_method=DELETE" method="post">
                <input type="submit" value="DELETE"  />
        </h2>
        <h3><%= Truck.info %></h3>
    </div>
    <script type="text/javascript" src="js/materialize.min.js">
        document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.sidenav');
  var instances = M.Sidenav.init(elems, options);
});
  </script>
</body>
<footer>
    <%-include('./partials/footer.ejs') %>
</footer>
</html>